body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #133d5c, #f33757);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.countdown {
    font-size: 2em;
    font-weight: bold;
}

.social-links {
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.social-links a:hover {
    color: #4CAF50;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #ccc;
}